.view-width {
  width: 70%;
}



#navbar {
  top: 0;
  padding: 0;
  width: 5em;
  height: 100vh;
  position: fixed;
  background-color: hsl(var(--background-secondary));
  transition: width .35s cubic-bezier(var(--transition-main), 1);
  overflow-y: auto;
  overflow-x: hidden;
}

#navbar:hover {
  width: 16em;
}

#navbar::-webkit-scrollbar-track {
  background-color: hsl(var(--background-secondary));
}

#navbar::-webkit-scrollbar {
  width: 8px;
  background-color: hsl(var(--background-secondary));
}

#navbar::-webkit-scrollbar-thumb {
  background-color: hsl(var(--primary));
}
#navbar:hover .link-text {
  width: calc(100% - calc(5rem - 8px));
  opacity: 1;
}

.navbar-items {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.flexbox-col {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}